* {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  box-sizing: border-box;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
}

/* navigation  */
.bar {
  display: flex;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #272a31;

  /* position: fixed; */
  align-items: flex-start;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.mobile {
  position: fixed;
  right: -100%;
  top: 0;
  gap: 0;
  background-color: black;
  mix-blend-mode: multiply;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
  scroll-behavior: smooth;
}

.mobile.active {
  right: 0;
}

.nav-mobile {
  margin-top: 80px;
  margin-bottom: -50px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 44px;
  font-weight: 600;
  opacity: 1;
  list-style: none;
}

.nav-mobile a {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
  text-decoration: none;
}

/* first section */
.intro {
  background-image: url("images/mobile-background.png");
  min-height: 75vh;
}

.welcome {
  color: #ec5242;
}

.top {
  margin-top: 35px;
}

.desc,
.date {
  margin-top: 15px;
}

/* event section */
.event {
  background-color: #272a31;
  background-image: url("images/diamond.png");
  mix-blend-mode: multiply;
  min-height: 690px;
}

.event ul{
  padding-left: 0;
}

.event_deets_header {
  color: #fff;
}

hr {
  color: #ec5242;
}

.event_main {
  min-height: 100px;
}

.event_logo {
  height: 80px;
  width: 80px;
}

.event_name {
  color: #ec5242;
  font-size: 1rem;
}

.event_deets {
  color: #fff;
  font-size: 0.9rem;
}

button {
  width: 350px;
}

.btn-event {
  background-color: #ec5242;
  color: #fff;
}

/* artist section */

.pics {
  width: 20%;
  height: 20%;
}

.art-btn {
  width: 90%;
  font-size: 15px;
}

.chev {
  margin-left: 20px;
}

.artist_name,
.artist_type,
.artist_desc,
.artist_rating {
  font-size: 12px;
}

.artist_type {
  color: #ec5242;
}

/* partner section */
.partners {
  background-color: #272a31;
  color: #fff;
  min-height: 250px;
}

.partner-1 {
  width: 130px;
  margin: 20px;
}

.partner-2,
.partner-3,
.partner-4,
.partner-5 {
  width: 130px;
  margin: 20px;
  align-self: center;
}

.partnerships {
  width: 100%;
  height: 200px;
}

/* about page  */
.logo-about-page {
  width: 150px;
  height: 150px;
}

.line {
  border-bottom: 1px solid lightgrey;
  width: 90%;
  justify-content: center;
}

/* footer  */
.footer-logo {
  width: 120px;
  height: 120px;
}
